{% if color == 'yellow' %}
  {% assign bg = 'kl-bg-button-alt' %}
  {% assign text_color =  'kl-color-button-alt' %}
{% elsif color == 'blue' %}
  {% assign bg = 'kl-bg-button' %}
  {% assign text_color = 'kl-color-button' %}
{% endif %}

<a href="{{ url }}" class="{{ bg }} kl-button-xp kl-button-height kl-button-rounded">
  <span class="kl-font-header {{ text_color }} flex flex-col justify-center h-full text-center kl-font-button-weight">
    {{ text }}
  </span>
</a>

<style>
  .kl-button-height {
    height: 64px;
  }

  .kl-button-xp {
    padding: 0 34px;
  }

  .kl-button-rounded {
    border-radius: 5px;
  }
</style>