
  <span class="js-show-product uppercase kl-button-border-side kl-font-header kl-h4 {{ text_color }} flex flex-col justify-center h-full text-center kl-font-button-weight cursor-pointer {{ active }}" data="{{ handle }}">
    {{ text }}
  </span>