<a href="{{ url }}" class="kl-bg-button-alt kl-button-xp kl-button-height kl-button-rounded">
  <span class="kl-font-header kl-color-blue flex flex-col justify-center h-full text-center kl-font-button-weight">
    {{ text }}
  </span>
</a>

<style>
  .kl-button-height {
    height: 64px;
  }

  .kl-button-xp {
    padding: 0 34px;
  }

  .kl-button-rounded {
    border-radius: 5px;
  }
</style>