
<!-- {% section 'hero' %} -->
<section>
  <div class="container px-4 md:px-0 sm:mx-auto">
    {% render 'text-heading' with h_type: 'h1', text: 'WHAT IS KLASK', icon: 'volt' %}
    {% render 'text-paragraph' with size: 'large', align: 'center', text: 'A popular pub game in Denmark, Klask is like a fast-paced table-top version of Air Hockey, only it uses multiple magnets and a small round ball. Players must use the magnetic handles under the board to control their playing pieces on top of the board.' %}
    {% render 'text-paragraph' with size: 'body', align: 'center', text: 'Klask is like a fast-paced table-top version of Air Hockey,' %}
    {% render 'text-paragraph' with size: 'product', align: 'center', text: 'Klask is like a fast-paced table-top version of Air Hockey,' %}
    {% render 'text-paragraph' with size: 'medium', align: 'center', text: 'Klask is like a fast-paced table-top version of Air Hockey,' %}
  </div>
</section>



<script>
  // $( document ).ready(function() {
  //   $('.responsive').slick({
  //     dots: true,
  //     infinite: false,
  //     speed: 300,
  //     slidesToShow: 4,
  //     slidesToScroll: 4,
  //     responsive: [
  //       {
  //         breakpoint: 1024,
  //         settings: {
  //           slidesToShow: 3,
  //           slidesToScroll: 3,
  //           infinite: true,
  //           dots: true
  //         }
  //       },
  //       {
  //         breakpoint: 600,
  //         settings: {
  //           slidesToShow: 2,
  //           slidesToScroll: 2
  //         }
  //       },
  //       {
  //         breakpoint: 480,
  //         settings: {
  //           slidesToShow: 1,
  //           slidesToScroll: 1
  //         }
  //       }
  //       // You can unslick at a given breakpoint now by adding:
  //       // settings: "unslick"
  //       // instead of a settings object
  //     ]
  //   });
  // });
</script>