<header>
  <div class="kl-bg-blue">
    <div class="container px-4 md:px-0 sm:mx-auto">
      <div class="h-10 flex flex-row flex-wrap justify-center content-center items-center">
        <span class="inline-block align-middle kl-color-yellow">
          FREE SHIPPING ON ALL ORDERS
        </span>
        <div class="flex flex-row justify-end">
          <span class="kl-font-footer-size kl-font-body kl-font-body-weight kl-color-light" >United States</span>
        </div>
      </div>
    </div>
  </div>
  <nav class="js-nav container z-50 px-4 sm:px-0 sm:mx-auto fixed sm:relative kl-bg-white top-0">
    <div class="flex flex-col justify-between h-screen py-20 sm:py-0 sm:h-20 sm:h-20">
      <ul class="flex flex-col items-center sm:item-start sm:flex-row sm:flex-wrap sm:justify-between sm:content-center h-full">
        {% for link in linklists.main-menu.links %}
        <li>
          <a href="{{ link.url }}" class="block kl-font-header kl-font-link-size kl-font-header-mobile-link-size kl-font-header-nav-weight kl-color-header-nav text-center sm:text-left">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
      <button class="js-close-mobile-nav sm:hidden">close</button>
    </div>

    <!-- {% for link in linklists.main-menu.links %}
      <a href="{{ link.url }}">{{ link.title }}</a>

      
    {% endfor %} -->
  </nav>
</header>

<script>
  document.querySelector('.js-close-mobile-nav').addEventListener('click', function() {
    document.querySelector('.js-nav').classList.add("hidden");
  })
</script>