<header>
  <div class="kl-bg-blue h-10 flex flex-col items-center content-center">
    <span class="inline-block align-middle kl-color-yellow">
      sdafdf

    </span>
  </div>
  <nav class="container mx-auto">
    <ul class="flex flex-row flex-wrap justify-between content-center kl-nav-height">
      {% for link in linklists..main-menu.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <!-- {% for link in linklists.main-menu.links %}
      <a href="{{ link.url }}">{{ link.title }}</a>

      
    {% endfor %} -->
  </nav>
</header>
