.kl-bg-white,
.kl-bg-main {
  background-color: var(--color-main-background);
}

.kl-bg-off-white,
.kl-bg-alt {
  background-color: var(--color-body-bg-alt);
}

.kl-bg-blue,
.kl-bg-dark {
  background-color: var(--color-body-bg-dark);
}

.kl-border-color {
  border-color: var(--color-body_borders);
}

.kl-bg-yellow {
  background-color: var(--color-button-alt);
}
