.kl-color-field {
  color: var(--color-text-field-text);
}

.kl-border-color-field {
  color: var(--color-text-field-border);
}

.kl-bg-button {
  background-color: var(--color-button);
}

.kl-bg-button-alt {
  background-color: var(--color-button-alt);
}

.kl-color-button {
  color: var(--color-button-text);
}

.kl-color-button-alt {
  color: var(--color-button-text-alt);
}

.kl-font-button-weight {
  font-weight: var(--font-button-weight);
}

.kl-button-height {
  height: 64px;
}

.kl-button-xp {
  padding: 0 34px;
}

.kl-button-rounded {
  border-radius: 5px;
}

.kl-button-submit-rounded {
  border-radius: 0 5px 5px 0;
}

.kl-border-submit {
  border-width: 3px;
  border-style: solid;
  border-color: var(--color-button);
  // hacky fix for border gap with grid
  box-shadow: inset 0px 0px 0px 2px var(--color-button);
}

.kl-button-height {
  height: 64px;
}

.kl-button-xp {
  padding: 0 34px;
}

.kl-button-rounded {
  border-radius: 5px;
}

.kl-button-border-side {
  &:first-child {
    border-right: 1px solid var(--color-heading-text);
  }
  &:nth-child(2) {
    border-left: 1px solid var(--color-heading-text);
  }

  &:hover,
  &.active {
    background-color: var(--color-topper-text);
  }
}

// SLICK SLIDE
/*

*/
button.slick-arrow {
  &.slick-next,
  &.slick-prev {
    display: none !important;
  }
}

.slick-dots {
  margin-bottom: -30px;

  li {
    margin: 0 2px;

    button:before {
      color: #ffffff !important;
      font-size: 16px;
    }
  }
}

.slick-review-nav {
  .slick-track {
    display: flex;
    align-items: center;
  }
}

.slick-testimony {
  .slick-slide {
    margin: 0 10px;
  }
}

.slick-awards {
  .slick-slide {
    @media (min-width: 640px) {
      margin: 0 10px;
    }
  }
}
/*
.kl-club-slick {
  .slick-slide {
    margin: 0;
  }
}
*/