.kl-nav-height {
  height: 82px;
}

.kl-card-testimony-rounded {
  border-radius: 5px;
}

.kl-card-rounded {
  border-radius: 10px;
}

.kl-card-rounded-sm {
  @media (min-width: 641px) {
    border-radius: 10px;
  }
}
.kl-border {
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-body_borders);
}

@media (min-width: 640px) {
  .kl-border-product {
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-body_borders);
  }
}

.kl-tutorial-left-rounded {
  @media (min-width: 640px) {
    border-radius: 10px 0 0 10px;
  }
}

.kl-tutorial-right-rounded {
  border-radius: 0 10px 10px 0;
}

.kl-rotate-svg-180 {
  svg {
    transform: rotate(180deg);
  }
}

.container {
  &.kl-nav-container {
    @media (min-width: 640px) {
      max-width: 720px;
    }
  
    /* Medium (md) */
    @media (min-width: 768px) {
      max-width: 864px;
    }
    
    /* Large (lg) */
    @media (min-width: 1024px) {
      max-width: 1152px;
    }
    
    /* Extra Large (xl) */
    @media (min-width: 1280px) {
      max-width: 1440px;
    }
  }
}