/* Color */
.kl-color-blue,
.kl-color-heading {
  color: var(--color-heading-text);
}

.kl-color-dark,
.kl-color-body {
  color: var(--color-body-text);
}

.kl-color-body-blue {
  color: #1B084C;
}

.kl-color-header-nav {
  color: var(--color-header-nav-text);
}

.kl-color-footer-nav {
  color: var(--color-footer-nav-text);
}

.kl-color-topper {
  color: var(--color-topper-text);
}

.kl-color-light {
  color: var(--color-light-text);
}

.kl-color-accent {
  color: var(--color-accent-text);
}

.kl-color-yellow {
  color: var(--color-topper-text);
}