.kl-icon {
  &:after {
    content: "";
  }
}

.slick-review-nav {


  .slick-current {
    &:after {
      /*
      background-image: linear-gradient(to right, transparent 30%, #0a00a3 30%);
      background-size: 20px 100%;
      content: "";
      height: 3px;
      margin-top: 20px;
      position: absolute;
      width: inherit;
*/
      // background: url();
      // background-size: 20px 100%;
      // content: "";
      // height: 3px;
      // margin-top: 20px;
      // position: absolute;
      // width: inherit;
      // @media (min-width: 641px) {
      //   margin-left: -10px;
      // }
    }
  }
}

