.kl-icon {
  &:after {
    content: "";
  }
}

.slick-review-nav {
  .slick-track {
    padding-bottom: 25px;
  }

  .slick-current {
    // border-bottom: 3px solid;
    // &:after {
    //   content: '';
    //   background: url(../assets/icon-underline-dashed-single.svg);
    //   background-size: contain !important;
    //   content: "";
    //   display: inline-block;
    //   height: 5px;
    //   width: inherit;
    //   position: absolute;
    //   margin-top: 20px;
    // }
    &:after {
      background-image: linear-gradient(to right, transparent 50%, #0a00a3 50%);
      background-size: 25px 100%;
      content: "";
      height: 3px;
      margin-top: 20px;
      position: absolute;
      width: inherit;

      @media (min-width: 641px) {
        margin-left: -10px;
      }
    }
  }
}

.kl-icon-mx-auto-child {
  > * {
    margin: 0 auto;
  }
}

.kl-icon-arrow-dashed {
  &:after {
    content: "";
    background: url(../assets/icon-arrow-dashed.svg) no-repeat;
    background-size: contain !important;
    content: "";
    display: inline-block;
    height: 170px;
    width: 173px;
    position: absolute;
    z-index: 1;
  }
}

.kl-icon-arrow-dashed-mobile {
  &:after {
    content: "";
    background: url(../assets/icon-arrow-dashed-mobile.svg) no-repeat;
    background-size: contain !important;
    display: inline-block;
    height: 64px;
    width: 65px;
    position: absolute;
  }
}
