.container {
  &.kl-nav-container {
    @media (min-width: 640px) {
      max-width: 720px;
    }
  
    /* Medium (md) */
    @media (min-width: 768px) {
      max-width: 864px;
    }
    
    /* Large (lg) */
    @media (min-width: 1024px) {
      max-width: 1152px;
    }
    
    /* Extra Large (xl) */
    @media (min-width: 1280px) {
      max-width: 1440px;
    }
  }
}

.kl-nav-sublink-mt {
  margin-top: 4.8rem;
}

.kl-nav-height {
  height: 82px;
}

