<section class="kl-bg-blue">
  <!-- desktop -->
  <div class="container px-4 md:px-0 sm:mx-auto">
    <div class="">
      <h3 class="kl-h3 kl-font-header kl-font-header-weight kl-color-light">{{ section.settings.heading }}</h3>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-5 slick-testimony">
    {% for block in section.blocks %}
      <div class="">
        <div class="kl-bg-white kl-card-rounded p-4 flex flex-col h-full">
          <h4 class="kl-h3 kl-font-header kl-font-header-weight kl-color-dark pb-4">{{ block.settings.heading_testimony }}</h4>
          {% render 'text-paragraph' with size: 'body', text: block.settings.body_testimony %}
          {% render 'text-paragraph' with size: 'body', text: block.settings.name_testimony, padding: 'none' %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="container px-6 md:px-0 sm:mx-auto">
    <div class="js-slide-arrow-prev kl-slide-arrow-prev">prev</div>
    <div class="js-slide-arrow-next kl-slide-arrow-next">next</div>
  </div>
</section>
<style>
  .slick-slide {
    margin: 0 5px;
  }
  }</style>
{% schema %}
  {
    "name": "Testimony Slider",
    "settings": [
      {
        "type": "header",
        "content": "Testimony Slider"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "heading"
      }
    ],
    "blocks": [
      {
        "type": "select",
        "name": "Add Testimony",
        "settings": [
          {
            "type": "text",
            "id": "heading_testimony",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "body_testimony",
            "label": "Body"
          },
          {
            "type": "text",
            "id": "name_testimony",
            "label": "Person name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimony Slider",
        "category": "Grid"
      }
    ]
  }
{% endschema %}

<script>
document.addEventListener('DOMContentLoaded', function(event) {
  $(document).ready(function() {

    $('.slick-testimony').slick({
      dots: true,
      infinite: false,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 1,
      initialSlide: 1,
      dots: false,
      {% comment %} dots: false, {% endcomment %}
      prevArrow: $('.js-slide-arrow-prev'),
      nextArrow: $('.js-slide-arrow-next'),
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 640,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
  });
});
</script>