<section class="hidden sm:block kl-hero-height kl-bg-alt bg-cover bg-center" style="background-image: url({{ section.settings.hero_image.src | img_url: 'master' }})">
  <div class="flex flex-col items-center justify-center h-full">
    <span class="kl-font-header hk-font-hero-size kl-color-light font-light text-center">
      {{ section.settings.hero_text }}
    </span>
    {% render 'button' with text: section.settings.button_text, url: section.settings.button_url %}
  </div>
</section>
<section class="sm:hidden kl-hero-height kl-bg-alt bg-cover bg-center" style="background-image: url({{ section.settings.hero_image_mobile.src | img_url: 'master' }})">
  <div class="flex flex-col items-center justify-center h-full">
    <span class="kl-font-header kl-h1 kl-color-light kl-font-header-weight text-center">
      {{ section.settings.hero_text }}
    </span>
    {% render 'button' with text: section.settings.button_text, url: section.settings.button_url %}
  </div>
</section>
<style>
  .kl-hero-height{
    height: 446px;
  }

  /* Medium (md) */
  @media (min-width: 768px) {
    .kl-hero-height{
      height: 450px;
    }
  }

  /* Large (lg) */
  @media (min-width: 1024px) {
    .kl-hero-height{
      height: 458px;
    }
  }

  /* Extra Large (xl) */
  @media (min-width: 1280px) {
    .kl-hero-height{
      height: 462px;
    }
  }


</style>
{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "header",
        "content": "Hero"
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "hero_image_mobile",
        "label": "Background Image Mobile"
      },
      {
        "type": "text",
        "id": "hero_text",
        "label": "Hero Text"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Url"
      }
    ],
    "presets": [
      {
        "name": "Hero",
        "category": "Hero"
      }
    ]
  }
{% endschema %}