<section class="hidden sm:block kl-hero-height kl-bg-alt bg-cover bg-center" style="background-image: url({{ section.settings.hero_image.src | img_url: 'master' }})">
  <div class="container px-5 sm:mx-auto flex flex-col justify-center h-full">
    <div class="grid grid-cols-12 row-gap-3">
      <span class="col-span-12 kl-font-header kl-font-hero-size kl-color-light kl-font-hero-weight text-center">
        {{ section.settings.hero_text }}
      </span>
      {% render 'button' with text: section.settings.button_text, span: 'sm:col-span-4 sm:col-start-5 lg:col-span-2 lg:col-start-6 xl:col-span-2 xl:col-start-6', url: section.settings.button_url, color: 'yellow' %}
    
  </div>
</section>
<!-- mobile  -->
<section class="sm:hidden kl-hero-height kl-bg-alt bg-cover bg-center" style="background-image: url({{ section.settings.hero_image_mobile.src | img_url: 'master' }})">
  <div class="container px-5 sm:mx-auto flex flex-col justify-center h-full">
    <div class="grid grid-cols-12 row-gap-3">
      <span class="col-span-10 col-start-2 kl-font-header kl-font-hero-size kl-color-light kl-font-hero-weight kl-font-hero-line-height text-center">
        {{ section.settings.hero_text }}
      </span>
      {% render 'button' with text: section.settings.button_text, span: 'col-span-8 col-start-3', url: section.settings.button_url, color: 'yellow' %}
    </div>
  </div>
</section>
<style>
  .kl-hero-height{
    height: 446px;
  }

  /* Medium (md) */
  @media (min-width: 768px) {
    .kl-hero-height{
      height: 450px;
    }
  }

  /* Large (lg) */
  @media (min-width: 1024px) {
    .kl-hero-height{
      height: 458px;
    }
  }

  /* Extra Large (xl) */
  @media (min-width: 1280px) {
    .kl-hero-height{
      height: 462px;
    }
  }
</style>
{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "header",
        "content": "Hero"
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "hero_image_mobile",
        "label": "Background Image Mobile"
      },
      {
        "type": "text",
        "id": "hero_text",
        "label": "Hero Text"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Url"
      }
    ],
    "presets": [
      {
        "name": "Hero",
        "category": "Hero"
      }
    ]
  }
{% endschema %}