<section class="kl-bg-off-white py-10 sm:py-20">
  <!-- Slide content-->
  <div class="container px-4 sm:mx-auto pb-2 sm:pb-5">
    <div class="sm:grid sm:grid-cols-1 sm:grid-cols-12 sm:pb-10">
      <div class="sm:col-start-2 sm:col-span-10">
        <ul class="slick-review-content">
          {% for block in section.blocks %}
            <li class="">
              {% render 'text-paragraph' with size: 'review', align: 'center', text: block.settings.review_body %}
            </li>
          {% endfor %}
        </ul>
      </div>
  </div>
  <!-- Slide nav-->
  <ul class="slick-review-nav container mx-auto">
    {% for block in section.blocks %}
      <li class="cursor-pointer">
        <img src="{{ block.settings.logo_thumbnail.src | img_url: 'x300' }}" alt="{{ block.settings.logo_thumbnail.alt }}" class="px-5 mx-auto">
      </li>
    {% endfor %}
  </ul>
</section>

<style>
  .slick-review-content .slick-track {
    align-items: center;
    display: flex;
  }
</style>

{% schema %}
  {
    "name": "Review Slider",
    "settings": [
      {
        "type": "header",
        "content": "Reviews"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "select",
        "name": "Add Review",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo_thumbnail",
            "label": "Review Logo"
          },
          {
            "type": "textarea",
            "id": "review_body",
            "label": "Review Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Review Slider",
        "category": "Slider"
      }
    ]
  }
{% endschema %}

<script>
document.addEventListener('DOMContentLoaded', function(event) {
  $(document).ready(function() {


   $('.slick-review-content').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: true,
      infinite: true,
      asNavFor: '.slick-review-nav'
    });

    $('.slick-review-nav').slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      asNavFor: '.slick-review-content',
      dots: false,
      focusOnSelect: true,
      infinite: true,
      responsive: [{
        breakpoint: 640,
        settings: {
          slidesToShow: 3,
          dots: false,
          arrows: false,
        },
      }]
    });

  });
});
</script>